<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Blue Filmes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
  <script defer src="/img/logo.png" integrity= "anonymous"></script>

<head>
<body>

   
    <header id= home>
      <div id=logotipo><center>
        <a id="logo" href="/"><img src="/img/logo.png" alt="Logo Image"></a></center>
      </div>      
            <nav class="main-nav">  
        <a href="/">Home</a>              
        <a href="/criar">Cadastrar</a>
        
      </nav>
      
    </header>
<body>
  
  <section id=detalhes>
  
       
        <section class="card">

            <article id="content">
                    <ul>
                        <li>Nome: <%= filme.nome %></li>
                        <li>Descrição: <%= filme.descricao %></li>
                        <a href="/">
                            <img id=imagem src="<%= filme.imagem %>" width=200>
                        </a>
                    </ul>
                    <div  id="botao"class="btn-group" role="group" aria-label="Basic example">
                      <a href="/deletar/<%= filme.id %>"><button type="button" class="btn btn-primary">Deletar</button></a>
                      <a href="/editar/<%= filme.id %>"><button type="button" class="btn btn-primary">Editar</button></a>
                    </div>
                    
            </article>
            

           
        </section>
      </section>
      

<footer><center>
  <p>&copy 2021 Blue Filmes, Inc.</p>
  <p>Thiago Nascimento Lino Leão & Maria Clara Nascimento Melo &copy 2021</p>
</footer></center>
</div>

<script src="/public/js/script.js"></script>
</body>
</html>